﻿* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	margin: 0;
	padding: 0;
	border: 0;
	font-style: normal;
	font-weight: normal;
	font-size: 100%;
	vertical-align: baseline
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display: block
}

blockquote,q {
	quotes: none
}

blockquote:before,blockquote:after,q:before,q:after {
	content: '';
	content: none
}

input,textarea {
	margin: 0;
	padding: 0
}

ol,ul {
	list-style: none
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

caption,th {
	text-align: left
}

a:focus {
	outline: 0
}

html {
	position: relative;
	width: 100%;
	height: 100%;
	font-family: Microsoft YaHei,sans-serif;
	z-index: 0;
	line-height: 1.5;
    background: url('sample_5827b0787204329f201003355df9e73a-1.jpg') no-repeat; /*这里添加你的图片背景地址或者更改图片目录*/
	background-color: #121925;
	background-size: cover;
	background-position: 50% 50%;
	background-attachment: fixed;
	font-weight: 300
}

body {
	position: relative;
	width: 100%;
	height: 100%;
	min-width: 335px;
	z-index: 1
}

a {
	color: #04202c
}

a:hover {
	color: #00b3ba
}

b {
	background-color: rgba(0,179,186,0.4)
}

::selection {
	background: #00b3ba
}

::-moz-selection {
	background: #00b3ba
}

.top_hr_style01 {
	width: 70%;
	margin: 5px auto;
	border: 0;
	border-bottom: 1px solid #fff
}

.top_hr_style02 {
	border: 0;
	border-bottom: 1px dashed #858585
}

.slider {
	width: 100%;
	height: 150px;
	-webkit-transition: .2s ease;
	-moz-transition: .2s ease;
	-o-transition: .2s ease;
	transition: .2s ease;
    background: url('sample_5827b0787204329f201003355df9e73a-1.jpg') no-repeat; /*这里添加你的图片背景地址或者更改图片目录*/
	background-color: #121925;
	background-size: cover;
	background-position: 50% 50%;
	background-attachment: fixed
}

#top {
	width: 100%;
	height: 100%;
	position: relative;
	margin: auto;
	z-index: 11
}

#top_img {
	width: 100%;
	height: 100%;
	position: relative;
    background: url('sample_5827b0787204329f201003355df9e73a-1.jpg') no-repeat; /*这里添加你的图片背景地址或者更改图片目录*/ 
	background-color: #121925;
	background-size: cover;
	background-position: 50% 50%;
	background-attachment: fixed;
	z-index: 11
}

#top_main {
	width: 100%;
	height: 100%;
	position: relative;
	margin: 0 auto;
	padding: 40px 0 10px 0
}

#top_logo {
	height: 30%;
	min-height: 80px;
	max-height: 244px;
	display: block
}

#top_logo img {
	-webkit-animation: A 15s linear 0s infinite;
	animation: A 15s linear 0s infinite;
	margin-right: auto;
	margin-left: auto;
	display: block;
	height: 100%
}

@-webkit-keyframes A {
	0% {
		-webkit-transform: rotate(0deg)
	}

	100% {
		-webkit-transform: rotate(360deg)
	}
}

@keyframes A {
	0% {
		transform: rotate(0deg)
	}

	100% {
		transform: rotate(360deg)
	}
}

#top_title {
	text-align: center;
	padding-top: 15px;
	display: block;
	height: 10%
}

#top_title img {
	margin-right: auto;
	margin-left: auto;
	display: block
}

#top_title #top_title01 {
	height: 83%;
	max-height: 59px;
	min-height: 30px
}

#top_title #top_title02 {
	height: 17%;
	max-height: 11px;
	min-height: 7px
}

#top_navlist {
	display: block;
	width: 30%;
	height: 220px;
	max-width: 220px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px
}

#top_navlist::after {
	content: " ";
	display: block;
	width: 20%;
	height: 150px
}

.top_nav {
	display: block;
	width: 100%;
	max-height: 40px;
	min-height: 10px;
	margin-top: 15px;
	text-decoration: none;
	font-size: 90%;
	vertical-align: middle central;
	color: #fff;
	letter-spacing: .5px;
	text-align: center;
	-webkit-transition: .2s linear;
	-moz-transition: .2s linear;
	-o-transition: .2s linear;
	transition: .2s linear;
	line-height: 180%
}

.top_nav:hover {
	border-radius: 3px;
	background-color: #fff
}

#top_footer {
	padding: 4px 10px 4px 10px;
	background-color: #04202c;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 12;
	-webkit-transition: .2s linear;
	-moz-transition: .2s linear;
	-o-transition: .2s linear;
	transition: .2s linear
}

#top_copyright {
	display: block;
	-webkit-transition: .2s linear;
	-moz-transition: .2s linear;
	-o-transition: .2s linear;
	transition: .2s linear;
	color: #858585;
	font-size: 10px;
	letter-spacing: 1.5px;
	text-align: center
}

@media screen and (max-width:500px) {
	#top_footer {
		padding: 1px
	}

	#top_copyright {
		font-size: 8px;
		letter-spacing: 0;
		text-align: center
	}
}